/* General styling */
.App {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Container for the content */
.container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}
body {
  background: rgb(80,88,227);
background: linear-gradient(143deg, rgba(80,88,227,1) 0%, rgba(64,61,240,1) 100%);
}
/* Heading styling */
h1 {
  color: #4caf50;
  margin-bottom: 20px;
}

/* Styling for input fields and labels */
.input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

input[type="number"] {
  width: calc(100% - 20px);
}

/* Button styling */
.calculate-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calculate-btn:hover {
  background-color: #45a049;
}

/* Result styling */
.result {
  margin-top: 20px;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 5px;
}

h3 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

h4 {
  margin-top: 10px;
  font-size: 18px;
  color: #777;
}
